.card {
    background: #E6F5FF;
    height: auto;
    width: 350px;
    border: groove 1px #223D4F;
    position: relative;
    padding: 4px;
    margin: 2em 0px 4em;
    margin-bottom: 12px;
    margin-right: 24px;
    border-radius: 6px;
    background: #e5e7e8;
}

.pageItem {
    cursor: pointer;
    background: #E6F5FF;
    height: auto;
    width: auto;
    border: groove 1px #223D4F;
    position: relative;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    background: #e5e7e8;
}

.selectedItem {
    background: #4e90b1 !important;
}
    .card:hover {
        background: #fcfcfc;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }



img.bordgray {
    border: 1px #047 solid;
    background-color: #fff;
    margin: 4px;
}

.article {
    margin: 4px;
    background-color: #3481C1;
    color: #e6f5ff;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #3481C1, #047);
    background-image: -moz-linear-gradient(top, #3481C1, #047);
    background-image: -ms-linear-gradient(top, #3481C1, #047);
    background-image: -o-linear-gradient(top, #3481C1, #047);
    font-size: 11px;
    font-weight: bold;
    padding: 1px 0px 1px 0px;
    color: white;
    text-align: center;
}

.author_name {
    width: 100%;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
}

.description {
    height: 100%;
    width: 175px;
    text-shadow: white 1px 1px 1px, black 0 0 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    -moz-binding: url('ellipsis.xml#ellipsis');
    -o-text-overflow: ellipsis;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    color: #047;
    font-family: Tahoma;
}

.Edit {
    cursor: pointer;
    background-color: #912330;
    background-image: -webkit-linear-gradient(top, #24ce6c, #036806);
    background-image: -moz-linear-gradient(top, #24ce6c, #036806);
    background-image: -ms-linear-gradient(top, #24ce6c, #036806);
    background-image: -o-linear-gradient(top, #24ce6c, #036806);
    background-image: linear-gradient(top, #24ce6c, #036806);
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #68030C;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: white;
    margin-right: 3px;
    text-align: center;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    margin-right: 5px;
    position: relative;
    width: 60px;
}


.Delete {
    cursor: pointer;
    background-color: #912330;
    background-image: -webkit-linear-gradient(top, #CE2438, #68030C);
    background-image: -moz-linear-gradient(top, #CE2438, #68030C);
    background-image: -ms-linear-gradient(top, #CE2438, #68030C);
    background-image: -o-linear-gradient(top, #CE2438, #68030C);
    background-image: linear-gradient(top, #CE2438, #68030C);
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #68030C;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: white;
    margin-right: 3px;
    text-align: center;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    margin-right: 5px;
    position: relative;
    width: 60px;
}
